@import "tailwindcss";

:root {
  --background: #F5F5F3; /* Un blanco hueso cálido, más orgánico */
  --foreground: #1C1917; /* Un negro suave, casi café, para el texto */
  --primary: #84cc16; /* Verde lima para botones y acentos */
  --secondary: #A8A29E; /* Un gris piedra para elementos secundarios */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C1917; /* El café oscuro como fondo */
    --foreground: #F5F5F3; /* El blanco hueso para texto */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
